<a href="https://colab.research.google.com/github/leeyh25/aipython/blob/main/240103.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
if a>5:
  print("a는 5보다 큽니다.")

a는 5보다 큽니다.

In [ ]:
a=10
if a>5:
  print("a는 5보다 큽니다.")
  print("end")

a는 5보다 큽니다.
end

In [ ]:
a=5
if a>5:
   print("a는 5보다 큽니다.")
print("end")

end

In [ ]:
gender = 'F'  #M인지 F인지에 따라서 결정된다.

if gender == 'M':    #비교연산자와 할당 연산자를 구분하자. ==와 =
  print("남자입니다.")
if gender == 'F':
  print("여자입니다.")

여자입니다.

In [ ]:
gender = 'F'
if gender=='M':
  print("남자입니다.")
else:
  print("여자입니다.")

여자입니다.

In [ ]:
score = int(input("점수를 입력하시오"))

if score >= 90:
  print("A")
elif score >= 80:
  print("B")
elif score >= 70:
  print("C")
else:
  print("D")

점수를 입력하시오77
C

In [ ]:
score = int(input("시험 점수를 입력하세요."))

if score >= 90:
  print("A")
elif score >= 80:
  print("B")
elif score >= 70:
  print("C")
elif score >= 60:
  print("D")
else:
  print("F")

시험 점수를 입력하세요.100
A

In [ ]:
a=int(input())
if a>= 90:
  print("A")
elif a>= 80:
  print("B")
elif a>= 70:
  print("C")
elif a>= 60:
  print("D")
else:
  print("F")

54
F

In [ ]:
a=10
b=5
if a>5:
  if b<10:
    print("a는 5보다 크고 b는 10보다 작습니다.")

a는 5보다 크고 b는 10보다 작습니다.

In [ ]:
a=10
b=5
if a>5 and b<10:
  print("a는 5보다 크고 b는 10보다 작습니다.")

a는 5보다 크고 b는 10보다 작습니다.

In [ ]:
a = [1,2,3,4,5]  #데이터의 개수만큼 반복
#end문 어떻게 썼는지 알아보기 dd
for i in a:
  print(i,end='')

12345

In [ ]:
for i in range(1,10,2): #step때문에 2씩 증가하게됨

  print(i)

1
3
5
7
9

In [ ]:
for i in range(10): #10번을 반복할 수 있는 구조이다.
  print(i)

0123456789

In [ ]:
a=int(input())
for i in range(1:n+1)
  sum=sum+i
  print(sum)

SyntaxError: ignored

In [ ]:
n=int(input())
sum=0
for i in range(1,n+1):
  sum=sum+i

print(sum)       #이게 답인디

8
36

In [ ]:
A, B, C = map(int, input().split())
A, B, C = sorted([A, B, C])
print(B)

10 30 20
20

In [ ]:
A, B, C = input().split()
A = int(A)
B = int(B)
C = int(C)

10 20 30

In [ ]:
A, B, C = input().split()
A = int(A)
B = int(B)
C = int(C)

if A > B:
  if A > C:
    print(B)
  else:
    print(A)
else:
  if B > C:
    print(A)
  else:
    print(B)

10 30 20
10

In [ ]:
def add(x,y):
  s=x+y
  a=s/2
  return s,a #입출력 , 어떻게 계산할 건지 다 알아서 생각해보기

hap,avg = add(10,20)
print("합:",hap,"평균:",avg)  #호출을 해야한다?

합: 30 평균: 15.0

In [ ]:
def add(x,y)
  s=x+y
  a=s/2
  return s,a #입출력 , 어떻게 계산할 건지 다 알아서 생각해보기

hap,avg = add(10,20)
print("합:",hap,"평균:",avg)

SyntaxError: ignored

In [ ]:
# 전역 상수 선언
HIGH_SCORE = 95
def main():
# 점수를 세 번 입력받아 각 변수에 할당한다.
    test1 = int(input('Enter the score for test 1: '))
    test2 = int(input('Enter the score for test 2: '))
    test3 = int(input('Enter the score for test 3: '))

    average = (test1 + test2 + test3) / 3
    print('The average score is', average)
 # 평균값이 HIGH_SCORE 보다 클 경우에 메시지 출력
if average >= HIGH_SCORE:
  print('Congratulations!')
  print('That is a great average!')
main()

NameError: ignored

In [ ]:
#이프문에도 중첩이 생기듯 반복문에도 중첩이 생길 수 있다.
rows = int(input('How many rows? '))
cols = int(input('How many columns? '))

for r in range(rows):
    for c in range(cols):
        print('*', end='')
    print()  #칸을 띄우기 위함이다. 첫 번째 반복문의 출력이다.

How many rows? 5
How many columns? 10
**********
**********
**********
**********
**********

In [ ]:
BASE_SIZE = 8

for r in range(BASE_SIZE):
  for c in range(r+1):
    print('*',end='')
  print()

*
**
***
****
*****
******
*******
********

In [ ]:
BASE_SIZE = 8

for r in range(BASE_SIZE):
  for c in range(8-r):
    print('*',end='')
  print()

********
*******
******
*****
****
***
**
*