<a href="https://colab.research.google.com/github/leeyh25/aipython/blob/main/240102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#2-6
Lab = 105
print('우리가 수업하는 실습실:')
print(Lab)

우리가 수업하는 실습실:
105

In [3]:
#2-7
Lab = 105
print('우리가 수업하는 실습실:',Lab)

우리가 수업하는 실습실: 105

In [4]:
#2-8
my_id = 20150001
grade = 1

print('나의 학번: ')
print(my_id)
print('학년: ')
print(grade)

나의 학번:
20150001
학년:
1

In [6]:
#2-9
dollars = 2.75
print('I have', dollars, 'in my account.')

dollars = 99.95
print('But now I have', dollars, 'in my account!')

I have 2.75 in my account.
But now I have 99.95 in my account!

In [7]:
#2-10
department = '국어국문학과'
name = '홍길동'

print(department, name)

국어국문학과 홍길동

In [8]:
#2-11
name = input('당신의 이름은 무엇입니까? ')
age = int(input('나이는 어떻게 되시나요? '))
attending_time = float(input('통학시간은 얼마나 걸립니까? '))

print('입력 정보는 다음과 같습니다.')
print('이름:', name)
print('나이:', age)
print('통학시간:', attending_time)

당신의 이름은 무엇입니까? 홍길동
나이는 어떻게 되시나요? 20
통학시간은 얼마나 걸립니까? 2.0
입력 정보는 다음과 같습니다.
이름: 홍길동
나이: 20
통학시간: 2.0

In [9]:
#2-13
salary = 2500.0

bonus = 1200.0

pay = salary + bonus

print('총 급여: ', pay)

총 급여:  3700.0

In [10]:
#2-14
original_price = float(input("제품의 원가를 입력해주세요: "))

discount = original_price * 0.2

sale_price = original_price - discount

print('할인가격: ', sale_price)

제품의 원가를 입력해주세요: 100.00
할인가격:  80.0

In [12]:
#2-15
test1 = float(input('첫 번째 과목 점수를 입력해주세요: '))
test2 = float(input('두 번째 과목 점수를 입력해주세요: '))
test3 = float(input('세 번째 과목 점수를 입력해주세요: '))

average = (test1 + test2 + test3) / 3.0 # 3.0인 이유는 test변수가 float 형태이기에 맞춰준다고 그렇다.

print('3 과목의 평균 점수:',average)

첫 번째 과목 점수를 입력해주세요: 90
두 번째 과목 점수를 입력해주세요: 80
세 번째 과목 점수를 입력해주세요: 100
3 과목의 평균 점수: 90.0

In [13]:
#2-16
total_seconds = float(input('시간 값을 초 단위로 입력해주세요: '))

hours = total_seconds // 3600

minutes = (total_seconds // 60) % 60 # %60이 무슨 의미인지 알기

seconds = total_seconds % 60

print('시 분 초는 다음과 같습니다.')
print('시: ', hours)
print('분: ', minutes)
print('초: ', seconds) #로직 이해하기

시간 값을 초 단위로 입력해주세요: 11730
시 분 초는 다음과 같습니다.
시:  3.0
분:  15.0
초:  30.0

In [14]:
#2-17
future_value = float(input('목표 금액을 입력해주세요: '))

rate = float(input('연간 이율을 입력해주세요: '))

years = int(input('저축 기간을 연 단위로 입력해주세요: '))

present_value = future_value / (1.0 + rate)**years

print('적립 금액: ', present_value)

목표 금액을 입력해주세요: 10000.0
연간 이율을 입력해주세요: 0.05
저축 기간을 연 단위로 입력해주세요: 10
적립 금액:  6139.132535407592

In [19]:
#2-18
print('a')
print('b')
print('c', end='')
print('d', end='')
print('e', end='***')  #end는 옵션으로 볼 수 있다.
print('f')

a
b
cde***f

In [20]:
#2-20
amount_due = 5000.0
monthly_payment = amount_due / 12.0
print('월급여: ', monthly_payment)

월급여:  416.6666666666667

In [22]:
#2-21
amount_due = 5000.0
monthly_payment = amount_due / 12
print('월급여: ', format(monthly_payment, '.2f'))

월급여:  416.67

In [25]:
#2-22
monthly_pay = 5000.0
annual_pay = monthly_pay * 12
print('Your annual pay is $', format(annual_pay, ',.2f'), sep='')   #'.2f'와 ,가 들어감으로써의 차이점

Your annual pay is $60,000.00

In [26]:
#2-23
num1 = 127.899
num2 = 3465.148
num3 = 3.776
num4 = 264.821
num5 = 88.081
num6 = 799.999

print(format(num1, '7.2f'))
print(format(num2, '7.2f'))
print(format(num3, '7.2f'))
print(format(num4, '7.2f'))
print(format(num5, '7.2f'))
print(format(num6, '7.2f'))

 127.90
3465.15
   3.78
 264.82
  88.08
 800.00