<a href="https://colab.research.google.com/github/leeyh25/aipython/blob/main/240105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
data = "john,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")

In [2]:
for line in lines:
  fields = line.split(",")
  print("Name:",fields[0],"Age:",fields[1],"Occupation:",fields[2])

Name: john Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [3]:
words = ['Hello','world','this','is','a','test']
sentence = ''.join(words)
print(sentence)

Helloworldthisisatest

In [9]:
A = "Geeks for Geeks"
list = A.split(' ')
print(list)

['Geeks', 'for', 'Geeks']

In [16]:
A = ['Geeks', 'for', 'Geeks']
B = ''.join(A)
print(B)

GeeksforGeeks

In [17]:
squares=[x**2 for x in range(5) if x%2 ==0]
print(squares)

[0, 4, 16]

In [22]:
squares=[x**2 for x in range(1,21) if x%3==0]
print(squares)

[9, 36, 81, 144, 225, 324]

In [24]:
a = [x**2 for x in range(1,6)]
print(a)

[1, 4, 9, 16, 25]

In [28]:
c = ["Seoul","New York","London","Shanghai","Paris","Tokyo"]

s = [c for c in range(6) if 'S']
print(s)                          #리스트컴프래션은 어펜드 필요없다.  다시 해보자

[0, 1, 2, 3, 4, 5]

In [30]:
fruits = ['apple','banana','cherry']
for index,fruit in enumerate(fruits):
  print(index,fruit)

0 apple
1 banana
2 cherry

In [31]:
al = ['a','b','c']
for index, a in enumerate(al):
  print('fruit',index,'name is',a)

fruit 0 name is a
fruit 1 name is b
fruit 2 name is c

In [ ]:
s= ['a','b','c']

for i in range(3):

In [32]:
names=['john','jane','Doe']
ages=[25,30,35]

for name, age in zip(names, ages):
  print(f"{name} is {age} tears old.")

john is 25 tears old.
jane is 30 tears old.
Doe is 35 tears old.

In [34]:
keys = ['a','b','c']
values = [1,2,3]
dt=dict(zip(keys,values))

In [39]:
name = ["M","N","S","A"]
roll_no = [4,1,3,2]

s = zip(name, roll_no)
print(s)

TypeError: 'list' object is not callable

In [50]:
#람다 함수 선언
add = lambda x,y: x+y

print(add(9,5))

14

In [52]:
def add(x,y):
  return x+y
print(add(7,7))

14

In [47]:
double = lambda x: x*2
print(double(5)) #10

10

In [ ]:
numbers = [1,2,3,4]